:root {
  --color-primary: #99ccff;
  --color-secondary: white;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-filter {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.my-radio {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  user-select: none;
  padding: 5px 15px;
}

input[type="radio"] {
  display: none;
}

/* 常に表示する円 */
.radio-mark {
  position: relative;
  display: block;
  height: 16px;
  width: 16px;
  border: solid 1px rgb(135, 135, 135);
  border-radius: 50%;
}

.radio-mark::after {
  content: "";
  position: absolute;
  background: rgb(212, 93, 153);
  border-radius: 50%;
  inset: 3px;
  opacity: 0;
  transition: all 0.2s linear;
}

.my-radio input:checked + .radio-mark::after {
  opacity: 1;
}

.my-radio:has(input:checked) {
  background: rgba(132, 132, 132, 0.1);
  border-radius: 18px;
}
